.WordCardVoiceSpeaking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
  background: #fff;
}
.SpeakingModule {
  background-color: inherit;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border: none;
}
.SpeakingModule:hover {
  transform: scale(0.95);
  transition: 0.4s ease-in-out;
}
.SMImage {
  width: 7em;
  height: 5em;
  object-fit: contain;
  border-radius: 100px;
  background-color: inherit;
}
